
<%# This builds the nav menu. They will transform into humanized links %>
<% nav_menu(:Web_Presence, :Communication, :Planning) %>

<% case @nav_path %>
<%# This are any paths like winduppixel.com/Path_Name %>
<% when 'Home' %>
	<h2>Craft your digital footprint.</h2>
	<p>Technology changes the way we live and work everyday. A dependable and informed agency can help your business understand all of the ways our world is constantly changing. At Wind Up Pixel, we help businesses use technology to grow.</p>
	<p>Come grow with us.</p>
	<br>
	<h3>Collaborate with us.</h3>
	<p>Most agencies have clients, customers and subcontractors. <br>We have a different name for these wonderful folks &mdash; <span class="boldstuff">collaborators.</span></p><br>
	<p><span class="boldstuff">Are you a Wind Up Pixel Collaborator?</span>  <%= link_to "Click here", "/Collaborator" %> for more.</p>
	<p><span class="boldstuff">For information on becoming a Wind Up Pixel Collaborator,</span> <a href="mailto:info@winduppixel.com" id="contact_link">contact us</a>.</p>

<% when 'Web_Presence' %>
  <% @title = "- Web Presence" %>
	<% page_image(:techlogo) %>
	<h2>Build your business hub.</h2>
	<p>To build an effective business today, a strong web presence is essential. Whether your company has a site today or needs to create one, an effective website is important for your business: one with a clean, intuitive layout that customers are going to understand. The company website needs graphics and language that speak to customers with language that makes sense within their domain.</p>
	<h3>Services We Offer Include:</h3>
	<ul>
	<li>Web Development</li>
	<li>Mobile Application Development</li>
	<li>Custom Web Service and Functionality Development</li>
	<li>Support for Existing Sites</li> 
	</ul>

<% when 'Communication' %>
  <% @title = "- Communication" %>
<% page_image(:commlogo) %>
<h2>Spread the word.</h2>	
<p>Once your website has been created or modernized, it's time to increase traffic by crafting and communicating a marketing message to prospective customers.  E-Mail Marketing is one of the most inexpensive and effective ways to communicate to customers. </p>	
	<p>Social networks aren't just for the young anymore -- people of all ages use them to keep in touch and learn about new products. Social networking is the new word of mouth and can bring in more customers to your business.</p>
	<h3>Services We Offer Include:</h3>
	<ul>
	<li>Full Service Email Marketing</li>
	<li>Full Service Social Media Marketing</li>
	<li>Blog and Article Generation</li>
	</ul>

<% when 'Planning' %>
  <% @title = "- Planning" %>
<% page_image(:planlogo) %>
<h2>Set your priorities.</h2>
	<p>The internet is saturated with websites and online stores, and they all are competing with businesses for potential customer attention. A key to winning this battle is leveraging the power of these outlets to expose potential customers to the company's message frequently and in creative ways that offer value.</p>	
	<p> The power of an online business is that it allows changes to be made quickly to sales strategies as the customer base is better understood. After the company's marketing efforts or sales records have been analyzed for a given month, marketing communications may be adapted in a way to which customers will be increasingly receptive.</p>
	<h3>Services We Offer Include:</h3>
	<ul>
	<li>Full Service Metrics and Consultations</li>
	<li>Web Merchandising Strategy</li>
	<li>User Experience Planning</li>
	</ul>

<% when 'Collaborator' %>
  <% @title = "- Collaborator" %>
<h2>Wind Up Pixel Collaborator - Coming Soon!</h2>
	<p>Wind Up Pixel Collaborator is a place for our clients and partner agencies to get up-to-date information on their active projects and to share information with our developers.</p>
	<p><span class="boldstuff">We're hard at work developing this part of our site!<br>It will be available very soon! </span> </p>
	<p><%= link_to "Return to our home page", "/" %> 


<% when 'non_menu_item' %>

	<p>This stuff is a page off the navigation menu.</p>
	
<% else %>

	<p>Page not found.</p>

<% end %> 