<%# This builds the nav menu. They will transform into humanized links %>
<% nav_menu(:Web, :Mobile, :Connection) %>

<% case @nav_path %>
<%# This are any paths like winduppixel.com/Path_Name %>
<% when 'Home' %>
	<h2>Craft your digital footprint.</h2>
	<p>Technology changes the way we live and work everyday. A dependable and informed agency can help your business understand all of the ways our world is constantly changing. At Wind Up Pixel, we help businesses use technology to grow.</p>
	<p>Let's grow together.</p>
	<br>
	<h3>Collaborate with us.</h3>
	<p>Most agencies have clients, vendors and subcontractors. <br>We have a different name for these wonderful folks &mdash; <span class="boldstuff">collaborators.</span></p><br>
	<p><span class="new" style="
    color: red;
">NEW! </span><span class="boldstuff">Are you a Wind Up Pixel Collaborator?</span>  <%= link_to "Click here", "http://collaborator.winduppixel.com", :target=>"blank" %> for more.</p>
	<p><span class="boldstuff">For information on becoming a Wind Up Pixel Collaborator,</span> <a href="/Become_collaborator" id="contact_link">click here</a>.</p>

<% when 'Web' %>
  <% @title = "- Web" %>
	<% page_image(:techlogo) %>
	<h2>Engage your customers.</h2>
	<p>The backbone of any successful modern business is a strong web presence. Websites are increasingly becoming a customer’s first exposure to many businesses. This means it’s not only important to use your website to portray a strong brand message -- it’s essential to create a platform for interaction with your customers.</p> 
	<p>Wind Up Pixel can help you discover your customer’s hidden behavior patterns and translate them into a dynamic web experience for your customers. </p>
	<h3>Services We Offer Include:</h3>
	<ul>
	<li>Web Development</li>
	<li>Website Enhancements and Integration</li>
	<li>Support for Existing Sites</li> 
	</ul>

<% when 'Mobile' %>
  <% @title = "- Mobile" %>
<% page_image(:mobllogo) %>
<h2>Connect in real time.</h2>	
<p> Experts say that mobile is the new web. We think it’s much more than that. Mobile devices are changing the ways that we communicate with our friends and family, as well as the brands that we love. Mobile apps can help extend your existing product or service by allowing customers to share information with you about their lives and then delivering on-demand responses in real time. </p>	
	<p>Mobile apps are even helping to automate business in ways never before possible -- from giving restaurant customers the option to order off a menu of their favorite items, to allowing homeowners to remodel rooms virtually.</p>
	<h3>Services We Offer Include:</h3>
	<ul>
	<li>Mobile Application Development</li>
	<li>Business Automation through Enterprise Apps</li>
	<li>Custom Cloud Services</li>
	</ul>

<% when 'Connection' %>
  <% @title = "- Connection" %>
<% page_image(:cnetlogo) %>
<h2>Interact as a peer.</h2>
	<p>The web is packed with businesses trying to apply old marketing behaviors to new technology. The success of a social campaign shouldn’t be about the number of “likes”  or “tweets” your business gets. Today’s most successful marketing efforts approach new means of communication as a way to connect with customers as people - not dollar signs.</p>  

	<p>The internet, mobile applications and social media aren’t only an entertainment outlet or a productivity tool -- they’re a way of life. Being successful means building an interactive experience with customers that touches their daily lives as equals. Join the crowd; don’t lecture to it.</p>
	<h3>Services We Offer Include:</h3>
	<ul>
	<li>User Experience Planning</li>
	<li>Multi-channel Marketing and Customer Engagement</li>
	<li>Collaborative Brainstorming Sessions</li>
	</ul>

<% when 'Become_collaborator' %>
  <% @title = "- Become a Collaborator" %>
<h2>Become a Wind Up Pixel Collaborator</h2>
	<p>Our Collaborators are the engine that powers our business. A Wind Up Pixel Collaborator might fall into one of these categories.</p>
	<h3>Client</h3>
	<p>We work hard for our clients to provide them with the best customer service experience possible.</p>
	<h3>Partner Agency</h3>
	<p>Our network of established agencies and professionals complement us by providing high quality design, payment processing, SEO and more.</p>
	<h3>Developer</h3>
	<p>The Wind Up Pixel development teams are the ones who make our clients' dreams a reality through expertise in today's technology. </p>
	<h3>Learn More</h3>
	<p>If this sounds exciting, <a href="mailto:info@winduppixel.com">contact us</a> now to find out how you can join our family.</p>

<% when 'non_menu_item' %>

	<p>This stuff is a page off the navigation menu.</p>
	
<% else %>

	<p>Page not found.</p>

<% end %> 