
<%# This builds the nav menu. They will transform into humanized links %>
<% nav_menu(:Web_Presence, :Communication, :Planning) %>

<% case @nav_path %>
<%# This are any paths like winduppixel.com/Path_Name %>
<% when 'Home' %>
	<p>Welcome. Please navigate our services above. </p>
	<p>For our Certified Partners, <%= link_to "click here", "/Partners" %> .</p>
	<p>For information on becoming a Wind Up Pixel Certified Partner, <a href="mailto:info@winduppixel.com" id="contact_link">contact us</a>.</p>

<% when 'Web_Presence' %>

	<p>To build an effective business today, a strong web presence is essential. Whether your company has a site today or needs to create one, an effective website is important for your business: one with a clean, intuitive layout that customers are going to understand. The company website needs graphics and language that speak to customers with language that makes sense within their domain.</p>
	<h2>Services We Offer Include:</h2>
	<ul>
	<li>Web Design</li>
	<li>Web Development</li>
	<li>Custom Application Development</li>
	<li>Support for Existing Sites</li> 
	</ul>

<% when 'Communication' %>

	<p>Once the website has been created or updated, it's time to increase traffic by crafting and communicating a marketing message to prospective customers.  E-Mail Marketing is one of the most inexpensive and effective ways to communicate to customers. </p>	
	<p>Social networks aren't just for the young anymore -- people of all ages use them to keep in touch and learn about new products. Social networking is the new word of mouth and can bring in more customers to your business.</p>
	<h2>Services We Offer Include:</h2>
	<ul>
	<li>Full Service Email Marketing</li>
	<li>Full Service Social Media Marketing</li>
	<li>Blog and Article Generation</li>
	</ul>

<% when 'Planning' %>

	<p>The internet is saturated with websites and online stores, and they all are competing with businesses for potential customer attention. A key to winning this battle is leveraging the power of these outlets to expose potential customers to the company's message frequently and in creative ways that offer value.</p>	
	<p> The power of an online business is that it allows changes to be made quickly to sales strategies as the customer base is better understood. After the company's marketing efforts or sales records have been analyzed for a given month, marketing communications may be adapted in a way to which customers will be increasingly receptive.</p>
	<h2>Services We Offer Include:</h2>
	<ul>
	<li>Full Service Metrics and Consultations</li>
	<li>Web Merchandising Strategy</li>
	<li>User Experience Planning</li>
	</ul>


<% when 'non_menu_item' %>

	<p>This stuff is a page off the navigation menu.</p>
	
<% else %>

	<p>Page not found.</p>

<% end %> 