// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
::selection, ::-moz-selection {
	background: #343434;
	color: #fff;
}

html, body {
	height: 100%;
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

// html {
// 	overflow: auto;
// }

a, a:visited, a:active {
	color: #fff;
	text-decoration:none;
}

a:hover {
	color: #FF4444;
	text-decoration:none;
}

p {
	margin: 10px 0;
}
// #wrap {
// 	min-height: 100%;
// 	height: auto !important;
// 	height: 100%;
// 	margin: 0 auto -15px; /* Footer fix height */
// }
#wrap {
	
}
#wrap, footer {
	min-width: 1150px;
}

#top-box {
	background-color: #353535;
	height: 130px;
}

#wup-name {
	position: relative;
margin-left: 156px;
z-index: 2;
font-size: 68px;
padding-bottom: 5px;
color: #7B7B7B;
font-weight: bold;
font-family: Helvetica, sans-serif;
margin-bottom: -8px;
}

nav {
height: 33px;
background-color: #353535;
color: white;

}

#above-nav-wrap {
	width: 1150px;
	position: relative;
	margin: 0px auto;
}

/* #nav-wrap {
	width: 1150px;
	margin: 0px auto;
	position: relative;
} 

*/

#nav-wrap {

	width: 1150px;
	margin: 0px auto;
	position: relative;
	text-transform:capitalize;
}

.nav-ul {
display: block;
position: absolute;
left: 568px;
top: 0px;
font-family: Helvetica, sans-serif;
}
.nav-ul li {
	font-size: 28px;
	float: left;
	padding: 0px 10px;

}
.nav-ul li:hover, .nav-ul .active a {
	color: #FF4444;
 	text-shadow: 0px 0px 10px #353535;
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
}

.web-strategy {
	position: absolute;
left: 9px;
background: white;
height: 36px;
font-size: 30px;
margin-top: 0px;
padding-left: 10px;
padding-right: 10px;
color: #7B7B7B;
font-weight: bold;
font-family: Helvetica, sans-serif;
padding-top: 1px;
}

#main {
	position: relative;
width: 900px;
margin: 41px auto 0 auto;
min-height: 300px;
}
#page-image {
	position: absolute;
	right: 450px;
	top: 20px;
}
#content {
	
width: 445px;
font-size: 13px;
line-height: 1.7em;
color: #333;
padding-bottom: 40px;
margin-top: 34px;
float: right;
}
#main a, #main a:visited, #main a:active {
	color: #ff4444;
	text-decoration: none;
}
#main a:hover {
	text-decoration: underline;
}

#content ul {
	padding-left: 20px;
}
#content h2 {
	font-size: 20px;
	padding: 10px 0px;
}
footer {
	color: #fff;
	background-color: #353535;
	font-size: 11px;
	height: 15px;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer div {
	width: 900px;
	padding: 2px 0px;
	margin: 0px auto;
	text-align: center;
}

footer .first {
	float: left;
}
footer .last {
	float:right;
}


.services { 
font-weight: bold;
text-decoration: underline;
  }
